.cardContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  background-color: white;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  h1 {
    max-width: 100%;
    font-size: 24px;
    transition: color 0.3s;
    margin-bottom: 8px;
    font-weight: 600;
  }
  &:hover {
    img {
      transform: scale(1.2) rotate(5deg);
    }
    h1 {
      color: var(--main-color);
    }
  }
}

.photoContainer {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 300px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s;
  }
}

.description {
  width: calc(100% - 350px);
  margin-left: 30px;
  position: relative;
  z-index: 2;
  padding: 20px 0;
  &:before {
    transform: skewX(-3deg);
    content: '';
    background: #fff;
    width: 30px;
    position: absolute;
    left: -45px;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}
.intro {
  height: 89px;
  font-size: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.date {
  padding-top: 6px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .photoContainer {
    width: 220px;
  }
  .description {
    width: calc(100% - 240px);
    margin-left: 25px;
    position: relative;
    z-index: 2;
    padding: 20px 0;
  }
  .cardContainer {
    h1 {
      font-size: 22px;
    }
  }
}

@media (max-width: 576px) {
  .cardContainer {
    height: 150px;
  }
  .photoContainer {
    width: 150px;
  }
  .description {
    width: calc(100% - 180px);
    margin-left: 20px;
    padding: 10px 0;
  }
  .cardContainer {
    h1 {
      font-size: 18px;
    }
  }
  .intro {
    height: 75px;
    font-size: 16px;
    line-height: 24px;
  }

  .date {
    display: none;
  }
}
