.cardContainer {
  width: 320px;
  height: 420px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s linear 0s;
}

.cardContainer:hover {
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
  img {
    transform: scale(1.1);
    opacity: 0.6;
  }
  .title {
    color: var(--main-color);
  }
}

.imgContainer {
  width: 100%;
  overflow: hidden;
  img {
    width: 320px;
    height: 220px;
    object-fit: cover;
    transition: all 0.3s linear 0s;
  }
}

.postContent {
  padding: 20px 20px;
  background-color: white;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  margin-bottom: 8px;
}

.time {
  font-size: 18px;
  margin: 10px 0 0;
}

.description {
  font-size: 18px;
  height: 85px;
  overflow: hidden;
}
