nav {
  width: 100vw;
  height: 100px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  z-index: 10;
  color: white;
}

.white {
  color: white;
}

.dark {
  color: var(--dark-90);
}

.innerContainer {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
  img {
    width: 50px;
    margin-right: 15px;
  }
}

.itemContainer {
  display: flex;
  .item {
    padding: 15px;
    cursor: pointer;
    position: relative;
    &::after {
      position: absolute;
      bottom: 4px;
      content: ' ';
      display: block;
      width: 0%;
      height: 3px;
      background-color: var(--main-color);
      transition: 0.4s 0.2s;
    }
    &:hover::after {
      width: calc(100% - 30px);
    }
  }
}

.navBurger,
.mobileItemContainer {
  display: none;
}

.mobileItemContainerOpen {
  position: absolute;
  top: 90px;
  right: 0px;
  background-color: var(--dark-90);
  width: 100%;
  height: 200px;
  text-align: center;
  transition:
    background-color 0.25s ease,
    top 0.25s ease;
  .mobileItem {
    cursor: pointer;
    font-size: 22px;
    padding: 10px 0;
    color: white;
  }
}

// 非置頂時，背景黑色並縮小字體
.notTop {
  color: white;
  background-color: var(--dark-90);
  height: 60px;
  transition:
    transform 0.25s ease,
    background-color 0.25s ease,
    height 0.25s ease;
  .logo {
    font-size: 22px;
    img {
      width: 40px;
    }
  }
  .navBurger {
    img {
      width: 32px;
    }
  }
  .mobileItemContainerOpen {
    top: 60px;
  }
}

@media (max-width: 768px) {
  .itemContainer {
    display: none;
  }
  .navBurger {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 36px;
    }
  }
}

@media (max-width: 576px) {
  .logo {
    font-size: 22px;
    img {
      width: 40px;
      margin-right: 10px;
    }
  }
  .navBurger {
    img {
      width: 32px;
    }
  }
  .mobileItemContainerOpen {
    height: 180px;
    .mobileItem {
      font-size: 20px;
      padding: 8px 0;
    }
  }
}
